@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  animation: blink 0.6s linear infinite alternate;
  display: inline-block;
  width: 2px;
  height: 34px;
  background-color: white;
}

@keyframes rotate {
  0% {
    transform: rotate(-0.2turn);
  }
  100% {
    transform: rotate(0turn);
  }
}

.rotateIcon {
  animation: 0.5s ease-out 0s 1 rotate;
}
